@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins Italic';
    src: url('../fonts/Poppins-Italic.eot');
    src: url('../fonts/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Italic.woff2') format('woff2'),
        url('../fonts/Poppins-Italic.woff') format('woff'),
        url('../fonts/Poppins-Italic.ttf') format('truetype'),
        url('../fonts/Poppins-Italic.svg#Poppins-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins Light';
    src: url('../fonts/Poppins-Light.eot');
    src: url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff'),
        url('../fonts/Poppins-Light.ttf') format('truetype'),
        url('../fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins-Medium.eot');
    src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype'),
        url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins SemiBold';
    src: url('../fonts/Poppins-SemiBold.eot');
    src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins.eot');
    src: url('../fonts/Poppins.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins.woff2') format('woff2'),
        url('../fonts/Poppins.woff') format('woff'),
        url('../fonts/Poppins.ttf') format('truetype'),
        url('../fonts/Poppins.svg#Poppins') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vonnes';
    src: url('../fonts/Vonnes-BookCondensed.eot');
    src: url('../fonts/Vonnes-BookCondensed.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vonnes-BookCondensed.woff2') format('woff2'),
        url('../fonts/Vonnes-BookCondensed.woff') format('woff'),
        url('../fonts/Vonnes-BookCondensed.ttf') format('truetype'),
        url('../fonts/Vonnes-BookCondensed.svg#Vonnes-BookCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Valky';
    src: url('../fonts/ValkyRegular.eot');
    src: url('../fonts/ValkyRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ValkyRegular.woff2') format('woff2'),
        url('../fonts/ValkyRegular.woff') format('woff'),
        url('../fonts/ValkyRegular.ttf') format('truetype'),
        url('../fonts/ValkyRegular.svg#ValkyRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat Medium';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --negro: #191919;
    --pastel: #D9D9CB;
    --celeste: #65ABA8;
    --naranja: #FF8366;
    --amarillo: #FFCB4C;
    --Valky: 'Valky', Arial, Helvetica, sans-serif;
    --Vonnes: 'Vonnes', Arial, Helvetica, sans-serif;
    --PoppinsBold: 'Poppins Bold', Arial, Helvetica, sans-serif;
    --PoppinsMedium: 'Poppins Medium', Arial, Helvetica, sans-serif;
    --PoppinsLight: 'Poppins Light', Arial, Helvetica, sans-serif;
    --PoppinsItalic: 'Poppins Italic', Arial, Helvetica, sans-serif;
    --PoppinsRegular: 'Poppins Regular', Arial, Helvetica, sans-serif;
    --PoppinsSemiBold: 'Poppins SemiBold', Arial, Helvetica, sans-serif;
    --MontserratMedium: 'Montserrat Medium', Arial, Helvetica, sans-serif;
}
/* Disable scrollbar on Chrome and Safari browsers! */
html::-webkit-scrollbar { width: 0 !important; height: 0 !important; }
html, body {overflow-x: hidden;}
body {
    color: var(--negro);
    letter-spacing: -0.1rem;
    font-family: var(--PoppinsRegular);
    background: var(--pastel);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* hide scrollbar but allow scrolling */
element {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
element::-webkit-scrollbar {display: none; /* for Chrome, Safari, and Opera */}
ul {list-style-type: none;}
a {
    cursor: pointer;
    text-decoration: none;
}
p {
    font-size: 18;
    letter-spacing: 0;
}
h1 {font-size: 200px;}
h2 {
    font-size: 100px;
    line-height: 6rem;
    font-family: var(--PoppinsMedium);
}
h3 {
    font-size: 60px;
    font-family: var(--PoppinsMedium);
}
h4 {
    font-size: 46px;
    font-family: var(--PoppinsBold);
}
h5 {font-size: 24px;}

.row>* {
    padding-right: calc(var(--bs-gutter-x) * 1);
    padding-left: calc(var(--bs-gutter-x) * 1);
}

/* Utilities */
.vh-80 {height: 80vh;}
.z-1 {z-index: 1;}
.mt-md--60 {margin-top: -60px;}
.mt--80 {margin-top: -80px;}
.mt--200 {margin-top: -200px;}
.mt--380 {margin-top: -380px;}
.mt-50 {margin-top: 50px;}
.mt-100 {margin-top: 100px;}
.mt-400 {margin-top: 400px;}
.mt-300 {margin-top: 300px;}
.mb-100 {margin-bottom: 100px;}
.p-100 {padding: 100px 0;}
.p-150 {padding: 150px 0;}
.pt-150 {padding-top: 150px;}
.pb-150 {padding-bottom: 150px;}
.pb-100 {padding-bottom: 100px;}
.pb-200 {padding-bottom: 200px;}
.pl-100 {padding-left: 100px;}
hr {opacity: 1;}
.hr-divider {background: var(--negro);}
.hr-divider-pastel {background: var(--pastel);}
.hr-divider-naranja {
    width: 100%;
    background: var(--naranja);
}
.divider-vertical {
    padding-left: 40px;
    border-left: 1px solid var(--pastel);
}
.divider-vertical-naranja {
    padding-left: 40px;
    border-left: 1px solid var(--naranja);
}
/* Colors */
.bg-negro {background: var(--negro);}
.bg-pastel {background: var(--pastel);}
.bg-celeste {background: var(--celeste);}
.bg-naranja {background: var(--naranja);}
.bg-amarillo {background: var(--amarillo);}
.fc-negro {color: var(--negro);}
.fc-pastel {color: var(--pastel);}
.fc-naranja {color: var(--naranja);}
.fc-celeste {color: var(--celeste);}
/* Fonts */
.fs-24 {font-size: 24px;}
.fs-40 {font-size: 40px;}
.fs-52 {font-size: 52px;}
.fs-60 {font-size: 60px;}
.fs-70 {font-size: 70px;}
.fs-100 {font-size: 100px;}
.fs-160 {font-size: 160px;}
.Valky {font-family: var(--Valky);}
.Vonnes {font-family: var(--Vonnes);}
.PoppinsBold {font-family: var(--PoppinsBold);}
.PoppinsMedium {font-family: var(--PoppinsMedium);}
.PoppinsItalic {font-family: var(--PoppinsItalic);}
.PoppinsLight {font-family: var(--PoppinsLight);}
.PoppinsRegular {font-family: var(--PoppinsRegular);}
.PoppinsSemiBold {font-family: var(--PoppinsSemiBold);}
.MontserratMedium {font-family: var(--MontserratMedium);}

header {
    height: 100vh;
    padding: 100px 0;
    background: var(--negro) url(../img/bg-header-home.png) center center no-repeat;
    background-size: contain;
}
header ul {list-style: none;}
header a:hover {color: var(--naranja);}
lottie-player {
    z-index: 3;
    width: 200px;
    height: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
}
/* === MENU === */
#top-nav {
    right: 0;
    width: 80px;
    z-index: 20;
    height: 100%;
    position: absolute;
    background:  var(--negro);
    border-left: 1px solid var(--naranja);
}
#top-nav .arrow {
    top: 50%;
    left: -27px;
    position: absolute;
    transform: translate(0, -50%);
}
.nav-menu {
    width: 1px;
    padding: 100px 0;
    background: none;
    -webkit-transition: width 0.5s ease;
        -moz-transition: width 0.5s ease;
            -o-transition: width 0.5s ease;
                transition: width 0.5s ease;
}
.nav-menu .logo {opacity: 0;}
.open-menu .logo {
    opacity: 1;
    margin-bottom: 100px;
}
.nav-menu ul {width: 50%;}
.divider-menu {
    height: 100%;
    position: relative;
    border-right: 1px solid var(--naranja);
}
.divider-menu img {
    top: 50%;
    right: -2px;
    position: absolute;
    transform: translate(0, -50%);
}
.open-menu {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../img/bg-menu.png) center center no-repeat;
}
.menu-list {
    top: 50%;
    opacity: 0;
    color: var(--pastel);
}
.nav-menu ul {margin: 0 50px 0 0;}
.menu-list a {display: block;}
.btn-doble {
    font-size: 40px;
    position: relative;
    white-space: nowrap;
    color: var(--pastel);
}
.btn-doble:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}
.btn-doble:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}
.btn-doble:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    display: block;
    transition: 0.5s;
    position: absolute;
    color: var(--naranja);
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
}
.btn-doble:before {
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
    line-height: 60px;
    transition: 0.5s;
    position: relative;
    color: var(--pastel);
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
}
.btn-link-naranja {
    bottom: 0;
    font-size: 24px;
    position: absolute;
    transition: all .3s;
    color: var(--pastel);
    text-decoration: underline;
}
.btn-link-naranja:hover {color: var(--naranja);}
.nav-menu p {line-height: 1;}
.divider-menu {
    top: 0;
    opacity: 0;
    height: 100%;
    position: absolute;
    border-right: 1px solid var(--naranja);
}
.open-menu .divider-menu {opacity: 1;}
.list-open {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
            -o-transition: opacity 0.3s ease;
                transition: opacity 0.64s ease;
    -webkit-transition-delay: 0.34s;
        -moz-transition-delay: 0.34s;
            -o-transition-delay: 0.34s;
                transition-delay: 0.34s;
}
  
/* Burger */
#burger-wrap {
    top: 50%;
    margin: 0;
    padding: 0;
    width: 60px;
    right: 15px;
    height: 65px;
    position: absolute;
    transform: translate(0, -50%);
} 
.burger {
    top: 50%;
    width: 60px;
    height: 65px;
    cursor: pointer;
    position: absolute;
    transform: translate(0, -50%); 
    -webkit-transition: all .3s;
    transition: all .3s;
}
.burger span {
    display: block;
    position: absolute;
    top: 30px;
    left: 16px;
    right: 16px;
    height: 3px;
    background: var(--naranja);
    border-radius: 10px;
    -webkit-transition: background 0.3s .3s;
    transition: background 0.3s .3s;
    -o-transition: background 0s 0s;
    -webkit-transition-delay: 0.4s,0s;
    transition-delay: 0.4s,0s;
}
.open-menu .burger span {
    background: 0 0 transparent;
    transform: rotate(90deg);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -o-transition: all 0s ease;
    -webkit-transition-delay: 0s,0s;
    transition-delay: 0s,0s;
}
.burger span::after,
.burger span::before {
    content: "";
    left: 0;
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    border-radius: 10px;
    background-color: var(--naranja);
    -webkit-transition-duration: .3s,.3s;
    transition-duration: .3s,.3s;
    -webkit-transition-delay: 0.4s,0s;
    transition-delay: 0.4s,0s;
}
.burger span::before {
    top: -8px;
    -webkit-transition-property: top,-webkit-transform;
    transition-property: top,transform;
}
.burger span::after {
    bottom: -8px;
    -webkit-transition-property: bottom,-webkit-transform;
    transition-property: bottom,transform;
}

.open-menu .burger span::after,
.open-menu .burger span::before {
    -webkit-transition-delay: 0s,.4s;
    transition-delay: 0s,.4s;
    background-color: var(--naranja);
}
.open-menu .burger span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.open-menu .burger span::after {
    bottom: 1px; /* Fix for codepen, set to zero for normal use */
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* Menu Mobile */
.bg-menu {
    top: 0;
    width: 100%;
    height: 130px;
    display: none;
    position: fixed;
    z-index: 100;
    background: var(--negro);
}
.menu-wrap {
    top: 35px;
    right: 80px;
    z-index: 100;
    position: fixed;
}
.menu-wrap .toggler {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
}
.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Hamburger line */
.menu-wrap .hamburger > div {
    width: 100%;
    height: 2px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    background: var(--pastel);
}
/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    position: absolute;
    background: inherit;
}
/* Moves line down */
.menu-wrap .hamburger > div:after {top: 10px;}
/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div{ transform: rotate(135deg);}
/* Turn Lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}
/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {transform: rotate(225deg);}
/* Show menu */
.menu-wrap .toggler:checked ~ .menu {visibility: visible;}
.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration: .75;
}
.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu > div {
    flex: none;
    width: 100%;
    height: 100%;
    display: flex;
    transform: scale(0); 
    align-items: center;
    justify-content: start;
    background: var(--negro);
    transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
    opacity: 0;
    max-width: 90vw;
    max-height: 100vh;
    text-align: center;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
    padding: 10px 0;
    list-style: none;
    font-size: 25px;
    color: var(--pastel);
}

.menu-wrap .menu >div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}
/* --- */
/* === FIN MENU === */

.btn-primary-custom {
    font-size: 24px;
    border-radius: 0;
    padding: 17px 37px;    
    color: var(--pastel);
    background: var(--naranja);
    font-family: var(--PoppinsBold);
}
.btn-secondary-custom {
    font-size: 24px;
    border-radius: 0;
    padding: 17px 37px;    
    color: var(--negro);
    background: var(--pastel);
}
.btn-orange-custom {
    font-size: 24px;
    border-radius: 0;
    padding: 17px 37px;    
    color: white;
    background: var(--naranja);
}
.btn-outline-primary {
    font-size: 24px;
    border-radius: 0;
    padding: 10px 40px;
    color: var(--naranja);
    border: 2px solid var(--naranja);
}
.btn-outline-primary:hover, .btn-outline-secondary:hover{
    color: var(--pastel);
    background: var(--naranja);
    border: 2px solid var(--naranja);
}
.btn-outline-secondary {
    font-size: 24px;
    border-radius: 0;
    padding: 10px 40px;
    color: var(--pastel);
    border: 2px solid var(--naranja);
}
.btn-flip {
    font-size: 24px;
    position: relative;
    text-align: center;
    color: var(--pastel);
}
.btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    display: block;
    transition: 0.5s;
    position: absolute;
    padding: 10px 40px;
    color: var(--pastel);
    content: attr(data-back);
    background: var(--naranja);
    transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    padding: 10px 40px;
    color: var(--naranja);
    background: var(--pastel);
    content: attr(data-front);
    border: 2px solid var(--naranja);
    transform: translateY(0) rotateX(0);
}

.doble-text span:first-child {display: block;}
.doble-text span {display: none;}
.doble-text:hover span:first-child {display: none;}
.doble-text:hover span {display: block;}
.btn-box {
    z-index: 1;
    margin-top: -90px;
}
.btn-box .btn-carousel {
    bottom: 30px;
    font-size: 24px;
    border-radius: 0;
    color: var(--pastel);
    border: 2px solid var(--pastel);
    font-family: var(--PoppinsRegular);
}
.btn-box .btn-carousel:hover {
    color: var(--negro);
    background: var(--pastel);}
.lottie-player {
    cursor: pointer;
    position: absolute;
}
.opacity-galery {
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: 2;
    position: absolute;
    background: black;
}
#intro {
    padding: 100px 0 400px;
    background: var(--negro) url(../img/bg-intro.png) center bottom no-repeat;
}

.img-left {
    left: 0;
    position: absolute;
}
.img-right {
    right: 0;
    position: absolute;
}
.img {
    position: absolute;
    width: 40px;
    right: 90px;
    top: -100px;
}

/* Section Award */
#award .open .open-conten {
    top: 0;
    opacity: 0;
    
    position: absolute;
    transition: all .3s;
    background-color: var(--pastel);
}
#award .open .open-title-left, #award .open .open-title-right {border-bottom: 1px solid var(--negro);}
#award .open:hover img {opacity: 0;}
#award .open:hover .open-conten { opacity: 1;}
#award .open:hover .open-title-left {
    transition: all .3s;
    transform: translate(15%);
}
#award .open:hover .open-title-right {
    transition: all .3s;
    transform: translate(-15%);
}
/* === */

/* Section Blog */
.blog-box {
    padding: 40px;
    overflow: hidden;
    min-height: 100%;
    position: relative;
}
.blog-box img {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    min-height: 100%;
    position: absolute;
    transition: all .6s;s
}
.blog-box hr {opacity: 0;}
.blog-box:hover hr {
    opacity: 1;
    background: var(--pastel);
}
.blog-box:hover img {opacity: 1;}
.blog-box:hover h4, .blog-box:hover p {color: var(--pastel);}
.blog-box:hover svg path {fill: var(--pastel);}
.blog-box p {letter-spacing: 0;}
/* === */
/* Section Form */
.border-form {
    position: relative;
}
.border-form:before {
    content:"";
    top: 30px;
    left: 30px;
    z-index: -1;
    right: -10px;
    bottom: -10px;
    position: absolute;
    border-radius: 0 0 30px 0;
    border-right: 1px solid var(--negro);
    border-bottom: 1px solid var(--negro);
 }
 .border-form:after {
    content:"";
    top: 40px;
    left: 40px;
    z-index: -1;
    right: -20px;
    bottom: -20px;
    position: absolute;
    border-radius: 0 0 30px 0;
    border-right: 1px solid var(--negro);
    border-bottom: 1px solid var(--negro);
}
.form {
    padding: 60px 70px;
    border-radius: 30px;
}
.form .form-control {   
    border: none;
    padding-left: 0;
    background: none;
    border-radius: 0;
    color: var(--pastel);
    border-bottom: 1px solid var(--pastel);
}
.form .form-control::placeholder {color: var(--pastel) !important;}
.form hr {
    margin: 0;
    opacity: 1;
    background: var(--naranja);
}
.form ::-webkit-calendar-picker-indicator {filter: invert(1);}
.bouncingball {
    position: absolute;
    animation: bounce 1s ease-in-out infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
}
.shadows {
    content: '';
    bottom: 0;
    width: 90%;
    height: 10px;
    filter: blur(3px);
    position: absolute;
    border-radius: 100%;
    background-color: black;
    animation: shadow 1s ease-in-out infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
}
@keyframes bounce {
    from {
        top: 0%;
        transform: scaleX(80%) scaleY(70%);
    }
    to {top: 40%;}
}
@keyframes shadow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: .1;
        transform: scale(100%);
    }
}
/* === */

/* === Page Portfolio === */
#portfolio {background: var(--negro);}
#portfolio .hr-divider-naranja {
    right: -50%;
    position: absolute;
}
.box-portfolio, .box-portfolio-01 {
    margin: 0;
    position: relative;
}
.box-content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    position: absolute;
}
.box-content div {opacity: 0; transition: all .3s; transform: translateY(-30px);}
.box-content:hover div {opacity: 1; transform: translateY(0);}
.box-portfolio img, .box-portfolio-01 img {
    transition: all .3s linear;
    transform: scale3d(1.1, 1.1, 1);
}
.box-portfolio:hover img {transform: scale3d(1, 1, 1);}
.box-portfolio-01:hover img {transform: rotate(20deg);}

.proyectos h5 {opacity: 0; transition: all .3s; transform: translateY(-10px);}
.proyectos:hover h5 {opacity: 1; transform: translateY(0);}
.proyectos:hover h3 {color: var(--naranja); transition: all .3s;}
.proyectos .hr-divider-pastel {width: 50%;}
/* === */

/* Section Qienes Somos */

#quienes-somos {background: url(../img/bg-quienes-somos.png) center center no-repeat;}
#manifiesto {
    padding: 150px 0;
    background: url(../img/bg-manifiesto.png) center bottom -70px no-repeat;
    background-size: 80%;
}
.scroll {
    height: 500px;
    direction: rtl;
    text-align: left;
    overflow-x: scroll;
    padding-left: 50px;
    position: relative;
}
.scroll::-webkit-scrollbar-track {
    border-right: 2px solid var(--naranja);
}
.scroll::-webkit-scrollbar {width: 10px;}
.scroll::-webkit-scrollbar-thumb {
    background: var(--naranja);	
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}

.scroll p {
    line-height: 1;
    direction: ltr;
}

.arrow-down {
    left: -110px;
    bottom: -52px;
    position: absolute;
}
.arrow-down img {
    padding: 20px;
    background: var(--naranja);
}
#somos {
    padding-top: 200px;
    position: relative;
}
#somos .img {
    width: 30%;
    top: 150px;
    left: -100px;
}
#somos .cacho {
    width: 40%;
    top: 250px;
    right: -60px;
    position: absolute;
    border: none !important;
}
#somos .team {margin-top: 300px;}
#somos .team img {
    border-radius: 50%;
    border: 3px solid var(--naranja);
}
#somos .team .divider-left {border-left: 3px solid var(--naranja);}
#somos .team .divider-right {border-right: 3px solid var(--naranja);}
.item .body-premios {
    opacity: 0;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    transition: all .3s;
}
.item:hover .body-premios {opacity: 1;}

.item .body-premios p.background {position: relative;}  
.item .body-premios p.background span {
    background: var(--pastel);
    padding: 0 10px;
}
.item .body-premios p.double:after {
    border-bottom: 1px solid var(--naranja);
    box-shadow: 0 5px 0 0 var(--naranja);
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    width: 20%;
    z-index: -1;
}
#que-hacemos {
    padding: 200px 0;
    background: url(../img/bg-nosotros.png) center center no-repeat;
    background-size: cover;
}
.circulo-trabajo {
    width: 250px;
    height: 250px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    border: 2px solid var(--naranja);
}
.link-trabajo {
    font-size: 46px;
    transition: all .3s;
    color: var(--naranja);
}
.link-trabajo:hover {color: var(--pastel);}
.box-color {
    height: 400px;
    padding: 30px;
}
.img-pepi-gredal {
    width: 80%;
    top: -350px;
    position: absolute;
}
.img-divider-right {
    top: 45%;
    right: 50px;
    position: absolute;
}
.ficha-box {
    padding: 20px 40px;
    border-top: 2px solid var(--naranja);
}

/* Blog */
#blog {
    background: var(--negro) url(../img/bg-header-blog.png) center right no-repeat;
    background-size: contain;
}
#blog .img {
    top: 60%;
    left: 50%;
    opacity: .05;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.blog-content {
    position: relative;
    border-bottom: 2px solid var(--naranja);
}
.blog-content .blog-box-img {position: relative;}
.blog-content .blog-box-img .btn-left {
    left: 50px;
    bottom: 30px;
    position: absolute;
}
.blog-content .blog-box-img .btn-right {
    right: 50px;
    bottom: 30px;
    position: absolute;
}
.blog-content .arrow {
    right: 50%;
    z-index: 1;
    bottom: 30px;
    position: absolute;
    transform: translate(50%, -50%);
}
h5.dropcap::first-letter{
    margin: -40px 30px 0 0;
	float: left;
	font-size: 200px;
    color: var(--naranja);
    font-family: var(--Valky);
}

.link-noticia {
    color: var(--celeste);
    font-family: var(--PoppinsItalic);
}
.link-noticia:hover {
    color: var(--naranja);
}
/* Section Contacto */
#contacto{
    height: auto;
    background: var(--negro);
}
.form-check-input {
    width: 20px;
    height: 20px;
}
.form-check-input[type=radio] {
    background: none;
    border: 2px solid var(--naranja);
}
.form-check-input:checked[type=radio] {background: var(--pastel);}

#contact-form {
    padding-bottom: 600px;
    background: var(--negro) url(../img/img-ball.svg) bottom right no-repeat;
    background-position-y: 360px;
    background-size: 40%;
}
#contact-form .form-control {
    border-radius: 0;
    background: var(--pastel);
}
/* === */

/* footer */
footer {padding: 90px 0;}
footer ul {
    padding: 0;
    list-style: none;
}
footer ul li {padding: 0 20px;}
footer ul li p {
    letter-spacing: 0;
    white-space: nowrap;
}
/* === */

/* media */
@media only screen and (max-width: 767px) {
    p {font-size: 16px;}
    h1 {font-size: 85px;}
    h2 {font-size: 40px; line-height: 1;}
    h3 {font-size: 35px;}
    h4 {font-size: 25px;}
    h5 {font-size: 18px;}
    header {padding-top: 40px;}
    header a {
        z-index: 100;
        position: fixed;}
    footer {padding: 40px 0;}
    lottie-player {width: 100px;height: 100px;}
    .pb-xs-0 {padding-bottom: 0 !important;}
    .mt-xs-0 {margin-top: 0 !important;}
    .p-100 {padding: 50px 0;}
    .p-150 {padding: 75px 0;}
    .pl-100 {padding-left: 0;}
    .pb-100 {padding-bottom: 50px;}
    .pt-150 {padding-top: 75px;}
    .pb-150 {padding-bottom: 75px;}
    .mt-md--60 {margin-top: 0;}
    .mb-sm-0 {margin-bottom: 0 !important;}
    .mt-sm-0 {margin-top: 0;}
    .mt-sm-100 {margin-top: 100px;}
    .mb-100 {margin-bottom: 50px;}
    .fs-sm-18 {
        font-size: 18px;
        letter-spacing: 0;
    }
    .btn-primary-custom, .btn-flip, .btn-orange-custom, .btn-outline-secondary {font-size: 18px;}
    .bg-menu {display: flex !important;}
    #intro {
        padding: 30px 0 130px;
        background-size: contain;
    }
    .btn-box {margin: 10px 0 50px;}
    .item .body-premios {opacity: 1;}
    .animation-ball {
        height: 576px;
        transform: scale(.7)
    }
    .box-content {top: 20px;}
    .box-content div {opacity: 1;}
    .proyectos h3 {color: var(--naranja);}
    .proyectos h5 {opacity: 1;}
    .proyectos .hr-divider-pastel {width: 100%;}
    .box-content {
        top: 0;
        position: relative;
        padding: 20px 20px 0;
    }
    .box-portfolio img, .box-portfolio-01 img {transform: none;}

    /* Section Blog */
    .blog-box img {opacity: 1;}
    .blog-box hr {opacity: 1; background: var(--pastel);}
    .blog-box h4, .blog-box p {color: var(--pastel);}
    .blog-box svg path {fill: var(--pastel);}
    /* === */
    .form {padding: 40px 20px;}
    .border-form:after {display: none;}
    .border-form:before {display: none;}
    .box-color {
        height: 200px;
        margin: 5px 0;
    }
    .link-trabajo {font-size: 25px;}
    .img-pepi-gredal {
        width: 20%;
        top: -150px;
        left: 0;
    }
    .ficha-box {padding: 20px 15px;}
    .navigation-btn img {width: 30px;}
    .navigation-btn h3 {
        font-size: 18px;
        white-space: nowrap;
    }

    /* Page Contacto */
    #contact-form { 
        padding-bottom: 100px;
        background: var(--negro) url(../img/img-ball.svg) center right -100px no-repeat;
        background-size: 65%;

    }
    .divider-vertical-naranja {
        padding-left: 0;
        border-left: none;
    }
    /* === */

    .btn-link-naranja {
        font-size: 18px;
        position: relative;
    }
    .blog-content {
        border: none;
        margin-bottom: 20px;
    }
    .blog-content .blog-box-img .btn-left {
        margin-top: 20px;
        bottom: 0;
        left: 0;
        position: relative;
    }
    .blog-content .blog-box-img .btn-right {
        margin-top: 20px;
        bottom: 0;
        right: 0;
        position: relative;
    }
}